<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rover Control Panel</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    
    <div class="container">
        <button class="control-button top" onmousedown="sendCommand('forward', true)" onmouseup="sendCommand('forward', false)">Forward</button>
        <div class="camera-controls">
            <button class="control-button left" onmousedown="sendCommand('left', true)" onmouseup="sendCommand('left', false)">Left</button>
            <div class="video-feed">
                <img src="{{ url_for('video_feed') }}" alt="Camera Stream">
            </div>
            <button class="control-button right" onmousedown="sendCommand('right', true)" onmouseup="sendCommand('right', false)">Right</button>
        </div>
        <button class="control-button bottom" onmousedown="sendCommand('backward', true)" onmouseup="sendCommand('backward', false)">Backward</button>
    </div>
    
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
    <script type="text/javascript" src="/static/script.js"></script>

</body>

</html>